<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>car</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>DownLoadFile</servlet-name>
		<servlet-class>com.verifycode.login.DownLoadFile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownLoadFile</servlet-name>
		<url-pattern>/download</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AuthImage</servlet-name>
		<servlet-class>com.verifycode.login.AuthImage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthImage</servlet-name>
		<url-pattern>/authImage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ListAllFile</servlet-name>
		<servlet-class>com.yunpan.servlet.ListAllFile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListAllFile</servlet-name>
		<url-pattern>/getallfiles</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UploadFile</servlet-name>
		<servlet-class>com.yunpan.servlet.UploadFile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadFile</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>com.yunpan.servlet.Register</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.yunpan.servlet.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MkdirFolder</servlet-name>
		<servlet-class>com.yunpan.servlet.MkdirFolder</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MkdirFolder</servlet-name>
		<url-pattern>/newfolder</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ValidateCheckCode</servlet-name>
		<servlet-class>com.yunpan.servlet.ValidateCheckCode</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ValidateCheckCode</servlet-name>
		<url-pattern>/vcheckcode</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ValidateUsername</servlet-name>
		<servlet-class>com.yunpan.servlet.ValidateUsername</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ValidateUsername</servlet-name>
		<url-pattern>/vcheckrusername</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ValidateLogin</servlet-name>
		<servlet-class>com.yunpan.servlet.ValidateLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ValidateLogin</servlet-name>
		<url-pattern>/vchecklogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FileRename</servlet-name>
		<servlet-class>com.yunpan.servlet.FileRename</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileRename</servlet-name>
		<url-pattern>/filerename</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LogOut</servlet-name>
		<servlet-class>com.yunpan.servlet.LogOut</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogOut</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteFile</servlet-name>
		<servlet-class>com.yunpan.servlet.DeleteFile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteFile</servlet-name>
		<url-pattern>/deletefile</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteFolder</servlet-name>
		<servlet-class>com.yunpan.servlet.DeleteFolder</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteFolder</servlet-name>
		<url-pattern>/deletefolder</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FolderRename</servlet-name>
		<servlet-class>com.yunpan.servlet.FolderRename</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FolderRename</servlet-name>
		<url-pattern>/folderrename</url-pattern>
	</servlet-mapping>
	<!-- 拦截器 -->
	<filter>
		<filter-name>Cors</filter-name>
		<filter-class>com.yunpan.corsfilter.CorsFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Cors</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- 登陆拦截 -->
	<filter>
		<filter-name>login</filter-name>
		<filter-class>com.yunpan.corsfilter.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>login</filter-name>
		<url-pattern>/getfile</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>login</filter-name>
		<url-pattern>/download</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>login</filter-name>
		<url-pattern>/vchecklogin</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>login</filter-name>
		<url-pattern>/upload</url-pattern>
	</filter-mapping>
</web-app>